body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

.toper {
    position: fixed;
    width: 100%;
    height: 50px;
    padding-top: 1px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.549);
    cursor: pointer;
}

.nav {
    width: 750px;
    height: 100%;
    /* background-color: #000; */
}

.nav ul {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.nav ul li {
    float: left;
    margin-left: 80px;
    font-size: 18px;
    color: #2e2e2ec9;
}

.nav ul li:hover {
    transform: scale(1.3);
    color: rgb(234, 107, 26);
}

.nav-tx {
    width: 50px;
    height: 50px;
}

#nav-tx-img img,
.tx img {
    border-radius: 50%;
}

#nav-tx-img {
    position: absolute;
    right: 400px;
    top: 0;
}

#yc {
    display: none;
    width: 248px;
    color: #222226;
    background: #fff;
    position: absolute;
    height: 405px;
    top: 66px;
    left: 50%;
    margin-left: 70px;
    z-index: 9999999;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}

.yc_mz {
    position: absolute;
    top: 20px;
    left: 75px;
    font-size: 18px;
    color: #2e2e2e;
}

.yc_id {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #2e2e2e80;
    border-bottom: 1.5px solid #f0f0f2;
    text-align: center;
}

.yc_id span {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.yc_fsgz {
    margin-top: 30px;
    width: 100%;
    height: 50px;
}

.yc_fsgz ul li {
    float: left;
    margin-left: 39px;
}

.yc_fsgz ul li a {
    font-size: 14px;
    color: #2e2e2ec9;
}

.yc_fsgz ul li a:hover {
    color: rgb(255, 106, 0);
    transform: scale(1);
}

.yc_cdl a {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #2e2e2ec9;
    text-indent: 2em;
}

.yc_cdl a:first-child {
    margin-top: 22px;
}

.yc_cdl a:last-child {
    margin-top: 20px;
}

.yc_cdl a:nth-child(3) {
    border-bottom: 1.2px solid #f0f0f2;
}

.hx {
    width: 100%;
    height: 1px;
    background-color: #f0f0f2;
}

#nav-tx-img img:hover {

    margin-right: 16px;
    margin-top: calc((48px - 35px)/ 2);
    transition: all .2s ease-out;
    transform-origin: top center;
    transform: scale(1.2);
}

#nav-tx-img:hover+#yc {
    display: block;
}

.search {
    position: absolute;
    top: 5px;
    right: 80px;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    border: 2px solid whitesmoke;
}

.search:hover {
    background-color: #fff;
}

.search_content {
    width: 150px;
    height: 40px;
    line-height: 40px;
}

.search_img {
    position: absolute;
    right: 45px;
    top: 8px;
    width: 50px;
    height: 50px;
    padding-left: 150px;

}

.bgtp img {
    margin-top: 50px;
    width: 100%;
    height: 320px;
    position: fixed;
}

.box_fff {
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: #fff;
    width: 700px;
    height: 780px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}

.box {
    width: 512px;
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
    margin-top: 76px;
}

.jisuan {
    display: flex;

}

input {
    margin: 2px;
    width: 120px;
    height: 120px;
    font-size: 25px;


}

input:hover {
    background-color: rgb(234, 107, 26);
}

.yunsuan div div {
    display: flex;
    margin: 2px 4px;
}

#xianshi {
    background-color: white;
    font-size: 60px;
    border: 2px solid gray;
}