* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: rgb(243, 120, 120);
    height: 100vh;
    display: flex;
    /* 上下居中 */
    /* align-items: center; */
    /* 左右居中 */
    /* justify-self: center; */
}

.select-menu {
    width: 300px;
    cursor: pointer;
    position: relative;
    /* margin: 10%; */

}

.select {
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    /* 上下居中 */
    align-items: center;
    justify-content: space-between;
}

.options-list {
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-top: 4px;
    padding: 0 20px;
    max-height: 180px;
    /* 文字内容溢出后自动加一个滚动条 */
    overflow-y: auto;
    /* tr */
    transition: 0.4s linear 0.2s;

    /* 隐藏这个选项框 */
    height: 0;
}


.option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.option:hover,
option.selected {
    color: #00a8ff;
}

.options-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
}

/* 用户点击向下的按钮，就附上这个.active类名，就可以实现长度变长 */
.options-list.active {
    height: 180px;
}